IDI_ICON1   ICON    DISCARDABLE     "simulator.ico"

#include <winver.h>
   
VS_VERSION_INFO VERSIONINFO
  FILEVERSION     0,0,0,1
  PRODUCTVERSION  0,0,0,1
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE 0x0L 
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments",           "Simulator\0"
            VALUE "CompanyName",        "Open Robtics\0"
            VALUE "FileDescription",    "Simulator\0"
            VALUE "FileVersion",        "0.0.0.1\0"
            VALUE "InternalName",       "Simulator\0"
            VALUE "LegalCopyright",     "Copyright (C) 2011"
            VALUE "OriginalFilename",   "Simulator.exe\0"
            VALUE "ProductName",        "Open Robotics Simulator\0"
            VALUE "ProductVersion",     "0.1\0"
        END
    END
    
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END    
END